<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit your chat</title>
    </head>
    <body>
        <h3>Edit your chat:<%= newChat._id %></h3>
        <p>
            This chat was sent from <b><i><%= newChat.from %></i></b> to
            <b><i><%= newChat.to %></i></b>
        </p>
        <form action="/chats/<%= newChat.id  %>?_method=put" method="post">
            <textarea name="msg"><%= newChat.msg %></textarea><br /><br />
            <button>Edit</button>
        </form>
    </body>
</html>
